:root {
	color-scheme: light;
}

html {
	min-height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	font-family: 'Google Sans Flex', 'Area Inktrap', sans-serif;
	text-rendering: optimizeLegibility;
}

img {
	display: block;
	max-width: 100%;
}

a {
	color: inherit;
}
